In [56]:
import pandas as pd
import numpy as np

In [57]:
copa_df = pd.read_csv("world_cup_matches.csv")

copa_df.head()

,ID,Year,Stage,Home Team,Home Goals,Away Goals,Away Team,Host Team or Not
0,1,1930,Group stage,France,4,1,Mexico,0
1,2,1930,Group stage,United States,3,0,Belgium,0
2,3,1930,Group stage,Yugoslavia,2,1,Brazil,0
3,4,1930,Group stage,Romania,3,1,Peru,0
4,5,1930,Group stage,Argentina,1,0,France,0

In [58]:
linhas, colunas = copa_df.shape

print("Linhas:", linhas)
print("Colunas:", colunas)

Linhas: 900
Colunas: 8

In [59]:
copa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                900 non-null    int64
 1   Year              900 non-null    int64
 2   Stage             900 non-null    object
 3   Home Team         900 non-null    object
 4   Home Goals        900 non-null    int64
 5   Away Goals        900 non-null    int64
 6   Away Team         900 non-null    object
 7   Host Team or Not  900 non-null    int64
dtypes: int64(5), object(3)
memory usage: 56.4+ KB

In [60]:
copa_df.drop(columns="ID", axis=1)

,Year,Stage,Home Team,Home Goals,Away Goals,Away Team,Host Team or Not
0,1930,Group stage,France,4,1,Mexico,0
1,1930,Group stage,United States,3,0,Belgium,0
2,1930,Group stage,Yugoslavia,2,1,Brazil,0
3,1930,Group stage,Romania,3,1,Peru,0
4,1930,Group stage,Argentina,1,0,France,0
...,...,...,...,...,...,...,...
895,2018,Quarter-finals,Russia,2,2,Croatia,1
896,2018,Semi-finals,France,1,0,Belgium,0
897,2018,Semi-finals,Croatia,2,1,England,0
898,2018,Third place,Belgium,2,0,England,0
899,2018,Final,France,4,2,Croatia,0

In [61]:
contagem_home = copa_df["Home Team"].value_counts()
contagem_home.head(5)

Home Team
Brazil       79
Germany      79
Argentina    55
Italy        53
France       36
Name: count, dtype: int64

In [62]:
contagem_away = copa_df["Away Team"].value_counts()
contagem_away.head(5)

Away Team
Mexico     36
England    33
Spain      31
Germany    30
Italy      30
Name: count, dtype: int64

In [63]:
contagem_not_host = copa_df["Host Team or Not"].value_counts(0)
contagem_not_host

0      0
1      0
2      0
3      0
4      0
      ..
895    1
896    0
897    0
898    0
899    0
Name: Host Team or Not, Length: 900, dtype: int64